<nav class="navbar navbar-expand-lg bg-white shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-5">
            <a class="nav-link active fw-bold" aria-current="page" routerLink="/home" >Employee list</a>
          </li>
         
          
        </ul>
        
      </div>
    </div>
  </nav>