.bg{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(55, 8, 132);
}
a{
    color: black;
    text-decoration: none;
}


  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) ;
    backdrop-filter: saturate(200%) blur(25px);
  } 
  h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }